/* Universal Selector */
* {
    color: red;
    font-size: 20px;
}

/* Tag / Element Selector */
h1 {
    color: green;
    text-align: center;
}

/* Attribute Selector */
a[title="google"]{
    color: blue;
    letter-spacing: 5px;
}

/* ID Selector */
#idOne{
    color: brown;
}

/* Class Selector */
.classOne {
    color: blueviolet;
    line-height: 30px;
    text-indent: 40px;
    text-transform: uppercase;
    word-spacing: 10px;
}

/* Descendant Selector */

.desc a {
    color: rgb(94, 255, 0);
    text-decoration: line-through;
}

.child > a {
    color: yellowgreen;
}

/* Pseudo Selector */

a:link {
    color: red;
}
a:hover {
    color: green;
    letter-spacing: 5px;
}
a:active {
    color: yellow;
}
a:visited {
    color: brown;
}

/* Target */

:target {
    color: aquamarine;
    border: 2px solid blue;
}